.container {
    margin: 0px 166px;
    display: flex;
    align-items: center;
}
header {
    background-color: black;
    color: white;
    padding: 5px;
    width: 100%;
    font-size: 14pt;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
footer {
    text-align: left;
    color: white;
    background-color: black;
    height: 45px;
    width: 100%;
    position: relative;
    padding: 15px;
    bottom: 0px;
    /* margin-top: 20px; */
}
.header-line {
    padding-top: 0px;
}
.nav-item {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;

    margin-right: 20px;
    border-right: 1px solid;
    padding-right: 5px;
}
.video {
    width: 100%;
    height: 700px;
}
.name_vid {
    color: black;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: white;
}
.carta {
    margin: 30px 350px 140px;
}
table {
    width: 30%;
}
.kontaktinf {
   margin-top: -15px;
}
.bt_open {
    color: white;
}
.nachalnaya {
    background-repeat: no-repeat;
    background-image: url(bg.jpg);
    height:100vh;
    background-size: cover;
    margin: 0;
}
.akran {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    background-color: white;
}
.str {
    color: white;
    text-decoration: none;
    margin-left: 95%;
    transition: 0.3s;
    border: 4px solid black;
    color: black;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 20px;
    position: relative;
    margin-bottom: 100px;
}
.akran2 {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    background-color: gray;
}
.akran3 {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    background-color: white;
}